{% extends "layout.html" %}
{% block body %}
<div class="block1">
<img src="{{url_for('static', filename='image.jpg')}}" width="192" height="128">
<h1>Welcome Back to the Password Generator</h1>
  <h2>{{ message }}</h2>
  <p>
      {% if 'You did not' in message %}
      {% elif 'Password has expired' in message %}
      {% else %}
        Password: {{ codePW[0] }}
      <br>
        Todays Date: {{ todaysDate }}
      <br>
        Password Expiration: {{ passwordExpiration }}
      {% endif %}
  </p>
</div>
{% endblock %}